<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h3 class="text-center text-dark">Register</h3>
        </div>
        <form id="register-user">
            <div class="form-group">
                <label for="firstname">First name</label>
                <input type="text" name="firstname" id="firstname" class="form-control">
            </div>
    
            <div class="form-group">
                <label for="lastname">Last name</label>
                <input type="text" name="lastname" id="lastname" class="form-control">
            </div>
    
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control">
            </div>
    
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
    
            <div class="form-group">
                <label for="cpassword">Confirm Password</label>
                <input type="cpassword" name="cpassword" id="cpassword" class="form-control">
            </div>
    
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="login">Already have an account?</a>
            </div>
        </form>
    </div>
</body>
<script src="/jquery/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(()=>{
        $("#register-user").on("submit",(e)=>{
            e.preventDefault();

            var formData = new FormData(e.target);
            var object = {};
            formData.forEach((value,key)=>object[key]=value);

            $.ajax({
                url:`create`,
                type:"POST",
                data:JSON.stringify(object),
                contentType:"application/json",
                processData:false,
                dataType:"JSON",
                success:(result)=>{
                    alert(result.message);
                    if(result.status)
                    {
                        // Redirect to Login Page
                        window.location.href = "login";
                    }
                },
                error:(err)=>{
                    if(!err.responseJSON.status)
                    {
                        alert(err.responseJSON.message);
                    }
                }
            });
        });
    });
</script>
</html>