<!-- Header Start-->
<%- include('partials/header.ejs')%>
<!-- Header End -->

<div class="container">
    <form action="send" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<!-- Footer Start -->
<%- include('partials/header.ejs')%>
<!-- Footer End -->